# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

.cache/
.vscode/
dist/
/dist*.zip
settings.json
.idea
.DS_Store
