@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ieu383');
  src:  url('fonts/icomoon.eot?ieu383#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ieu383') format('truetype'),
    url('fonts/icomoon.woff?ieu383') format('woff'),
    url('fonts/icomoon.svg?ieu383#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-profile:before {
  content: "\e923";
}
.icon-location2:before {
  content: "\e948";
}
.icon-map:before {
  content: "\e94b";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-opera:before {
  content: "\eade";
}
